# Object files
*.o
*.ko
*.obj
*.elf
*.bin
*.hex
*.dasm

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.pyc

# Map file
*.map

# vim swap file
*.swp

# dependency file
*.o.d

# TAGS
*.tags*
*TAGS*
*tags*

# logs
*.log

# generated link file
*.ldf
*.mkdir_done

# metaware debugger temp files
**/.sc.project

# ide project temporary files
**/.metadata
**/.settings

# embARC generated
**/embARC_generated

# embARC object folders
**/obj_*/gnu_*/*
**/obj_*/mw_*/*

# Ignore Doxygen Generated Documents
doc/build

# Ignore IDE Workspace for develop master
ide_projects

# Ignore embARC application repo
application
tools

# OS

## Ignore unnecessary sources and keep necessary files

# Middleware
## Ignore unnecessary sources and keep necessary files

middleware/mbedtls/*
!middleware/mbedtls/*.patch
!middleware/mbedtls/apply_embARC_patch.sh
!middleware/mbedtls/mbedtls.mk

# Misc
*.sublime-project
*.sublime-workspace
.vscode
