language: python
python: 2.7

sudo: required
dist: trusty

env:
  global:
    - >
      STATUS=$'curl -so/dev/null --user "$EMBARC_BOT" --request POST
      https://api.github.com/repos/$TRAVIS_REPO_SLUG/statuses/${TRAVIS_PULL_REQUEST_SHA:-$TRAVIS_COMMIT}
      --data @- << DATA\n{
      "state": "$0",
      "description": "$1",
      "context": "travis-ci/$NAME",
      "target_url": "https://travis-ci.org/$TRAVIS_REPO_SLUG/jobs/$TRAVIS_JOB_ID"
      }\nDATA'

cache:
  pip: true
  directories:
    - .cache/result
    - .cache/toolchain

branches:
  except:
    - gh-pages

before_install:
  - bash .ci/before_install.sh
  # setup git config
  - git config --global user.name "embARC Automated Bot"
  - git config --global user.email "Huaqi.Fang@synopsys.com"

after_success:
  - bash -c "$STATUS" success "Local $NAME testing has passed"

after_failure:
  - bash -c "$STATUS" failure "Local $NAME testing has failed"

script:
  - bash .ci/script.sh
  

matrix:
  include:

    - env: NAME="sphinx_doc" TOOLCHAIN="sphinx" OSP_ROOT="none" TOOLCHAIN_VER="none"
      os: linux
      compiler: gcc

    - env: NAME="baremetal-emsk-gnu-201709" TOOLCHAIN="gnu" BOARD="emsk" OSP_ROOT="." TOOLCHAIN_VER="2017.09" EXAMPLES="example/baremetal" EXPECTED=".ci/expected.ini"
      os: linux
      compiler: gcc

    - env: NAME="baremetal-emsk-gnu-201803" TOOLCHAIN="gnu" BOARD="emsk" OSP_ROOT="." TOOLCHAIN_VER="2018.03" EXAMPLES="example/baremetal" EXPECTED=".ci/expected.ini"
      os: linux
      compiler: gcc

    - env: NAME="freertos-emsk_11-gnu-201709" TOOLCHAIN="gnu" BOARD="emsk" BD_VER="11" OSP_ROOT="." TOOLCHAIN_VER="2017.09" EXAMPLES="example/freertos" EXPECTED=".ci/expected.ini"
      os: linux
      compiler: gcc

    - env: NAME="freertos-emsk_11-gnu-201803" TOOLCHAIN="gnu" BOARD="emsk" BD_VER="11" OSP_ROOT="." TOOLCHAIN_VER="2018.03" EXAMPLES="example/freertos" EXPECTED=".ci/expected.ini"
      os: linux
      compiler: gcc

    - env: NAME="freertos-emsk_22-gnu-201709" TOOLCHAIN="gnu" BOARD="emsk" BD_VER="22" OSP_ROOT="." TOOLCHAIN_VER="2017.09" EXAMPLES="example/freertos" EXPECTED=".ci/expected.ini"
      os: linux
      compiler: gcc

    - env: NAME="freertos-emsk_22-gnu-201803" TOOLCHAIN="gnu" BOARD="emsk" BD_VER="22" OSP_ROOT="." TOOLCHAIN_VER="2018.03" EXAMPLES="example/freertos" EXPECTED=".ci/expected.ini"
      os: linux
      compiler: gcc

    - env: NAME="freertos-emsk_23-gnu-201709" TOOLCHAIN="gnu" BOARD="emsk" BD_VER="23" OSP_ROOT="." TOOLCHAIN_VER="2017.09" EXAMPLES="example/freertos" EXPECTED=".ci/expected.ini" PARALLEL=3
      os: linux
      compiler: gcc

    - env: NAME="freertos-emsk_23-gnu-201803" TOOLCHAIN="gnu" BOARD="emsk" BD_VER="23" OSP_ROOT="." TOOLCHAIN_VER="2018.03" EXAMPLES="example/freertos" EXPECTED=".ci/expected.ini" PARALLEL=3
      os: linux
      compiler: gcc

    - env: NAME="arc_feature-gnu-201709" TOOLCHAIN="gnu" OSP_ROOT="." TOOLCHAIN_VER="2017.09" EXAMPLES="example/baremetal/arc_feature" EXPECTED=".ci/expected.ini"
      os: linux
      compiler: gcc

    - env: NAME="arc_feature-gnu-201803" TOOLCHAIN="gnu" OSP_ROOT="." TOOLCHAIN_VER="2018.03" EXAMPLES="example/baremetal/arc_feature" EXPECTED=".ci/expected.ini"
      os: linux
      compiler: gcc
