language: python
python: 3.7

sudo: required

env:
  global:
    - >
      STATUS=$'curl -so/dev/null --user "$EMBARC_BOT" --request POST
      https://api.github.com/repos/$TRAVIS_REPO_SLUG/statuses/${TRAVIS_PULL_REQUEST_SHA:-$TRAVIS_COMMIT}
      --data @- << DATA\n{
      "state": "$0",
      "description": "$1",
      "context": "travis-ci/$NAME",
      "target_url": "https://travis-ci.org/$TRAVIS_REPO_SLUG/jobs/$TRAVIS_JOB_ID"
      }\nDATA'
      
      COMMENT=none
      COMMENTS=$'curl -so/dev/null --user "$EMBARC_BOT" --request POST
      https://api.github.com/repos/$TRAVIS_REPO_SLUG/issues/$TRAVIS_PULL_REQUEST/comments
      --data @- << DATA\n{
      "body": "$COMMENT"
      }\nDATA'
    - TOOLCHAIN_VER="2020.09"
    - OSP_ROOT="."
    - EXAMPLES="example/baremetal,example/freertos" 

cache:
  pip: true
  directories:
    - .cache/result
    - .cache/toolchain

branches:
  except:
    - gh-pages

before_install:
  # setup git config 
  - git config --global user.name "embARC Automated Bot"
  - git config --global user.email "jingru@synopsys.com"
  - bash .ci/before_install.sh

after_success:
  - bash -c "$STATUS" success "Local $NAME testing has passed"

after_failure:
  - bash -c "$STATUS" failure "Local $NAME testing has failed"

script:
  - bash .ci/script.sh

matrix:
  include:

    - env: NAME="emsk-11-gnu-2020.09" TOOLCHAIN="gnu" BOARD="emsk" BD_VER="11"
      os: linux
      compiler: gcc

    - env: NAME="emsk-22-gnu-2020.09" TOOLCHAIN="gnu" BOARD="emsk" BD_VER="22"
      os: linux
      compiler: gcc

    - env: NAME="emsk-23-gnu-2020.09" TOOLCHAIN="gnu" BOARD="emsk" BD_VER="23"
      os: linux
      compiler: gcc

    - env: NAME="hsdk-gnu-2020.09" TOOLCHAIN="gnu" BOARD="hsdk"
      os: linux
      compiler: gcc

    - env: NAME="iotdk-gnu-2020.09" TOOLCHAIN="gnu" BOARD="iotdk"
      os: linux
      compiler: gcc

    - env: NAME="nsim-gnu-2020.09" TOOLCHAIN="gnu" BOARD="nsim"
      os: linux
      compiler: gcc

    - env: NAME="emsdp-gnu-2020.09" TOOLCHAIN="gnu" BOARD="emsdp"
      os: linux
      compiler: gcc
