language: python
python: 2.7

sudo: required
dist: trusty

cache:
  pip: true
  directories:
    - $HOME/.cache/result
# Blacklist
branches:
  except:
    - gh-pages

before_install:
  - bash .travis/before_install.sh
  # setup git config
  - git config --global user.name "embARC Automated Bot"
  - git config --global user.email "Huaqi.Fang@synopsys.com"

script:
  - bash .travis/script.sh

matrix:
  include:
    - env: TOOLCHAIN="sphinx" OSP_ROOT="none" GNU_VER="none"
      os: linux
    - env: TOOLCHAIN="gnu" BOARD="emsk" OSP_ROOT="." GNU_VER="2017.09" EXAMPLES="example/baremetal"
      os: linux
      compiler: gcc
    - env: TOOLCHAIN="gnu" BOARD="emsk" OSP_ROOT="." GNU_VER="2018.03" EXAMPLES="example/baremetal"
      os: linux
      compiler: gcc
    - env: TOOLCHAIN="gnu" BOARD="emsk" OSP_ROOT="." GNU_VER="2017.09" EXAMPLES="example/freertos"
      os: linux
      compiler: gcc
    - env: TOOLCHAIN="gnu" BOARD="emsk" OSP_ROOT="." GNU_VER="2018.03" EXAMPLES="example/freertos"
      os: linux
      compiler: gcc
    - env: TOOLCHAIN="gnu" OSP_ROOT="." GNU_VER="2017.09" EXAMPLES="example/baremetal/arc_feature"
      os: linux
      compiler: gcc
    - env: TOOLCHAIN="gnu" OSP_ROOT="." GNU_VER="2018.03" EXAMPLES="example/baremetal/arc_feature"
      os: linux
      compiler: gcc
